<h1>Liste des élèves</h1>

<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student|%>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td>
              <%= link_to "Voir", student_path(student), class: "btn btn-primary" %> <%= link_to "Editer", edit_student_path(student), class: "btn btn-secondary" %> <%= link_to 'Supprimer', student, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
