<%= render 'layouts/search/search', student: @students %>

<h1>Liste des élèves</h1>

<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Classe</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <% @students.each do |student|%>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.sections.last.level %><%= student.sections.last.sub_section %></td>
            <td>
              <%= link_to student_path(student.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_student_path(student.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
              <%= link_to  student_path(student.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } do %>
                  <i class="align-middle" data-feather="trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= paginate @students %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
