<h1>Liste des élèves</h1>

<h2>Search</h2>
<!--Search selectors-->
<div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-section-list" data-toggle="list" href="#list-section" role="tab" aria-controls="section">Classe</a>
      <a class="list-group-item list-group-item-action" id="list-group-list" data-toggle="list" href="#list-group" role="tab" aria-controls="group">Groupe</a>
      <a class="list-group-item list-group-item-action" id="list-name-list" data-toggle="list" href="#list-name" role="tab" aria-controls="name">Nom</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-section" role="tabpanel" aria-labelledby="list-section-list">
        <!--Section selectors-->
        <ul class="nav nav-tabs justify-content-around">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">6e</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
              <a class="dropdown-item" href="#">D</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">5e</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
              <a class="dropdown-item" href="#">D</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">4e</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
              <a class="dropdown-item" href="#">D</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">3e</a>
            <div class="dropdown-menu">
              <%= link_to 'Z', search_path, method: :post, remote: true, class: "dropdown-item" %>
              <a class="dropdown-item" href="#">A</a>
              <a class="dropdown-item" href="#">B</a>
              <a class="dropdown-item" href="#">C</a>
              <a class="dropdown-item" href="#">D</a>
            </div>
          </li>
        </ul>
        
        <!--Sections content-->
        <div id="section-results"></div>
      </div>
      
      <div class="tab-pane fade" id="list-group" role="tabpanel" aria-labelledby="list-group-list">...</div>
      
      <div class="tab-pane fade" id="list-name" role="tabpanel" aria-labelledby="list-name-list">...</div>
    </div>
  </div>
</div>

<h2>Students</h2>

<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student|%>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td>
              <%= link_to student_path(student.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_student_path(student.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
              <%= link_to  student_path(student.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } do %>
                  <i class="align-middle" data-feather="trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
