<h1 class="h3 mb-3">Élève n°<%= @student.id%></h1>


<p>
  <strong>Prénom:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @student.last_name %>
</p>

<%= link_to 'Modifier', edit_student_path(@student), class:"btn btn-secondary" %>
<%= link_to "Revenir à l'index", students_path, class:"btn btn-info" %>
