<h4>Culture "<%= @culture.name %>"</h4>

<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Domaines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @culture.description %></td>
        <td>
          <% @culture.domains.each do |domain| %>
            <%= domain.name %><br/>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<%= link_to "Modifier", edit_culture_path(@culture.id), class: "btn btn-secondary ml-auto" %> <br/><br/>
<%= link_to "Retour", cultures_path, class:"btn btn-info mt-3" %>