<h2>Compétences</h2>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Domaine</th>
          <th>Culture</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @skills.each do |skill|%>
          <tr>
            <td><%= skill.name %></td>
            <td><%= skill.domain.name %></td>
            <td><%= skill.domain.culture.name %></td>
            <td><%= skill.description %></td>
            <td>
              <%= link_to skill_path(skill.id) do %>
                <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_skill_path(skill.id) do %>
                <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
