<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card animated fadeIn">
					<div class="card-header d-flex justify-content-between">
						<h1 class="h3 mt-2">Rapport d'erreur des importations</h1>
					</div>

					<div class="card-body">
						<table id="datatables-basic" class="table table-striped" style="width:100%">
							<thead class="thead-dark">
								<th><u>Importation d'élèves:</u></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</thead>

							<% if @students_errors.count.zero? %>
								<thead>
							  	<tr>
							    	<td>
							      	<b>Votre dernière importation ne concernait pas les élèves</b>
						        </td>
						      </tr>
						    </thead>

							<% else %>

								<thead>
									<tr>
										<th>Ligne</th>
										<th>Prénom</th>
										<th>Nom</th>
										<th>Erreur</th>
									</tr>
								</thead>
								<tbody>
							  	<% @students_errors.order(:line).each do |error| %>
  									<tr>
  										<td>
                      	<%= error.line %>
                    	</td>
  										<td>
  									  	<% if error.error_entries[0][1].nil? %>
  									    	<%= "Vide" %>
  									  	<% else %>
  									    	<%= error.error_entries[0][1] %>
  									  	<% end %>
  										</td>
                      <td>
  									  	<% if error.error_entries[1][1].nil? %>
  									    	<%= "Vide" %>
  									  	<% else %>
  									    	<%= error.error_entries[1][1] %>
  									  	<% end %>
  										</td>
  										<td>
  									  	<% if error.error_type == "Formatage" %>
  									    	<b style="color:red"><%= "Champ manquant" %></b>
                      	<% else !error.error_type.nil? %>
                        	<b style="color:red"><%= error.error_type %></b>
                      	<% end %>
  										</td>
  									</tr>
									<% end %>
								</tbody>
							<% end %>
						</table>
						<br>

						<table id="datatables-basic" class="table table-striped" style="width:100%">
							<thead class="thead-dark">
								<th><u>Importation de compétences:</u></th>
								<th></th>
								<th></th>
								<th></th>
							</thead>

							<% if @skills_errors.count.zero? %>
								<thead>
							  	<tr>
							    	<td>
							      	<b>Votre dernière importation ne concernait pas les compétences</b>
						        </td>
						      </tr>
						    </thead>

							<% else %>

								<thead>
									<tr>
										<th>Ligne</th>
										<th>Titre</th>
										<th>Description</th>
										<th>Erreur</th>
									</tr>
								</thead>
								<tbody>
							  	<% @skills_errors.order(:line).each do |error| %>
  									<tr>
  										<td>
                      	<%= error.line %>
                    	</td>
  										<td>
  									  	<% if error.error_entries[0][1].nil? %>
  									    	<%= "Vide" %>
  									  	<% else %>
  									    	<%= error.error_entries[0][1] %>
  									  	<% end %>
  										</td>
                      <td>
  									  	<% if error.error_entries[1][1].nil? %>
  									    	<%= "Vide" %>
  									  	<% else %>
  									    	<%= error.error_entries[1][1] %>
  									  	<% end %>
  										</td>
  										<td>
  									  	<% if error.error_type == "Formatage" %>
  									    	<b style="color:red"><%= "Champ manquant" %></b>
  									  	<% else %>
  									    	<b style="color:red"><%= "Doublon" %></b>
  									  	<% end %>
  										</td>
  									</tr>
									<% end %>
								</tbody>
							<% end %>
						</table>
            <% if @import.first %>
              <i>(Dernière importation faite le <%= @import.first.created_at %>)</i><br>
            <% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>
