<h1>Modifier la séance</h4>
<div class="col-6 col-xl-6 pb-3"">
  <div class="form-group row">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">Quand</h6> 
        <%= form_with model: @work_session, local: true do |f| %>
          <div class="form-group">
            <%= f.date_field :date, class: "form-control" %>
            <%= f.text_field :daily_schedule, class: "form-control mt-2", placeholder: "crénau (M1, S3, ...)" %>
          </div>
          
          <h6 class="card-subtitle text-muted my-2">Compétences</h6>
          <div class="form-check">
            <%= f.collection_check_boxes(:skills, Skill.all, :id, :name) do |b| %>
              <%= b.label(class: "form-check-label mx-1") { b.check_box + b.text } %>
            <% end %>
          </div>
          
          <!--Change the following parts when DB is updated-->
          <h6 class="card-subtitle text-muted my-2">Élèves participants</h6>
          <div class="form-group">
            <%= f.text_field :daily_schedule, class: "form-control", placeholder: "Classe" %>
            <%= f.text_field :daily_schedule, class: "form-control mt-2", placeholder: "Élèves" %>
          </div>
          
          <h6 class="card-subtitle text-muted my-2">Matière</h6>
          <div class="form-group">
            <%= f.text_field :daily_schedule, class: "form-control", placeholder: "Matière" %>
            <%= f.text_field :daily_schedule, class: "form-control mt-2", placeholder: "Professeur" %>
          </div>
          
          <div class="card-footer">
            <%= f.submit nil, class: "btn btn-primary mt-3 " %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<%= link_to "Revenir à l'index", work_sessions_path, class:"btn btn-info" %>
