<h1>Création de séance</h1>
<div class="col-6 col-xl-6 pb-3">
  <div class="form-group row">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">Quand</h6>
        <%= form_with model: @work_session, local: true do |f| %>
          <div class="form-group">
            <%= f.date_field :date, class: "form-control" %>
            <%= f.text_field :daily_schedule, class: "form-control mt-2", placeholder: "crénau (M1, S3, ...)" %>
          </div>
          
          <h6 class="card-subtitle text-muted my-2">Compétences</h6>
          <div class="form-check">
            <div class="container">
              <div class="row">
                <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :name) do |b| %>
                  <div class="col-4">
                    <%= b.label(class: "form-check-label mx-1") { b.check_box + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          
          <!--Change the following parts when DB is updated-->
          <h6 class="card-subtitle text-muted my-2">Élèves participants</h6>
          <div class="form-group">
            <%= render 'layouts/search/search', student: @students %>
          </div>
          
          <h6 class="card-subtitle text-muted my-2">Matière</h6>
          <div class="form-group">
            <%= f.text_field :daily_schedule, class: "form-control", placeholder: "Matière" %>
          </div>

          <h6 class="card-subtitle text-muted my-2">Professeur</h6>
          <div class="form-group">
            <%= f.collection_check_boxes(:teacher_ids, Teacher.all, :id, :last_name) do |b| %>
              <div class="col-4">
                <%= b.label(class: "form-check-label mx-1") { b.check_box + b.text } %>
              </div>
            <% end %>
          </div>

          <div class="card-footer">
            <%= f.submit 'Créer', class: "btn btn-primary mt-3 " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Retour", work_sessions_path, class:"btn btn-info" %>
