<h4 class="mb-3 text-center">Appel pour la Séance <%= @work_session.id %> du <%= @work_session.date %> en <%= @work_session.daily_schedule %></h4>
<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <h4>Matière</h4>
    </div>
    <div class="card-body">
      <ul>
        <li><a href="#">Matière 1</a></li> 
        <li><a href="#">Mr Professeur</a> </li> 
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Sélectionner les élèves présents</h4>
    </div>
    <div class="card-body">
      <ul>
        <% @students.each do |student| %>
       <input type="checkbox" value="<%= student.id %>" name="work_session[student_ids][]" checked> <%= link_to "#{student.last_name} #{student.first_name} ", student_path(student) %>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Valider l'appel</button>
    </div>
  </div>

</div>
