<div class="container">
  <h2>Domaines</h2>
  <div class="card">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Culture</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @domains.each do |domain|%>
            <tr>
              <td><%= domain.name %></td>
              <td><%= domain.description %></td>
              <td><%= domain.culture.name %></td>
              <td><%= link_to "Editer", edit_domain_path(domain.id), class: "btn btn-secondary" %> <%= link_to "Voir plus", domain_path(domain.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
