<h2>Domaines</h2>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Culture</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @domains.each do |domain|%>
          <tr>
            <td><%= domain.name %></td>
            <td><%= domain.description %></td>
            <td><%= domain.culture.name %></td>
            <td>
              <%= link_to domain_path(domain.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_domain_path(domain.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
