<div class="row">
  <!-- Search selectors -->
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active clear-result" id="list-section-list" data-toggle="list" href="#list-section" role="tab" aria-controls="section">Classe</a>
      <a class="list-group-item list-group-item-action clear-result" id="list-group-list" data-toggle="list" href="#list-group" role="tab" aria-controls="group">Groupe</a>
      <a class="list-group-item list-group-item-action clear-result" id="list-name-list" data-toggle="list" href="#list-name" role="tab" aria-controls="name">Nom</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <!-- Section search -->
      <div class="tab-pane fade show active" id="list-section" role="tabpanel" aria-labelledby="list-section-list">
        <!--Section selectors-->
        <ul class="nav nav-tabs justify-content-around">
          <%= render  "layouts/search/section_select", section: 6 %>
          <%= render  "layouts/search/section_select", section: 5 %>
          <%= render  "layouts/search/section_select", section: 4 %>
          <%= render  "layouts/search/section_select", section: 3 %> 
        </ul>
        
        <!--Sections results content-->
        <div id="section-results"></div>
      </div>
      <!-- Group search -->
      <div class="tab-pane fade" id="list-group" role="tabpanel" aria-labelledby="list-group-list">
        <ul class="nav nav-tabs justify-content-around">
          <%= render  "layouts/search/group_select", section: 6 %>
          <%= render  "layouts/search/group_select", section: 5 %>
          <%= render  "layouts/search/group_select", section: 4 %>
          <%= render  "layouts/search/group_select", section: 3 %> 
        </ul> 
        <div id="group-results"></div>
      </div>
      
      <!-- Name search -->
      <div class="tab-pane fade" id="list-name" role="tabpanel" aria-labelledby="list-name-list">
        <p>Recherche par éleve</p>
        <%= form_tag(search_path, method: :get, remote: true) do %>
          <%= text_field_tag(:student) %>
          <%= submit_tag 'Rechercher' %>
        <% end %>
        <div id="student-results"></div>
      </div>
    </div>
  </div>
</div>