  <div class="container 12 col-lg-6">
  <div class="row">
    <div class="col">
      <h4>Création de séance</h4>
      <div class="card-header">
        <div class="card-body">
          <h6 class="card-subtitle text-muted mb-2">Quand</h6> 
          <%= form_with model: @lesson, local: true do |f| %>
            <div class="form-group">
              <%= f.date_field :date, class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.text_field :daily_schedule, class: "form-control", placeholder: "crénau (M1, S3, ...)" %>
            </div>
            
          <h6 class="card-subtitle text-muted my-2">Infos</h6>
            <div class="form-check">
              <%= f.collection_check_boxes(:skills, Skill.all, :id, :name) do |b| %>
              <%= b.label(class: "form-check-label mx-1") { b.check_box + b.text } %>
              <% end %>
            </div>
            
              <%= f.submit nil, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
