<h1>Liste des prefesseurs</h1>

<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @teachers.each do |teacher|%>
          <tr>
            <td><%= teacher.last_name %></td>
            <td><%= teacher.first_name %></td>
            <td>
              <%= link_to teacher_path(teacher.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_teacher_path(teacher.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
              <%= link_to  teacher_path(teacher.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } do %>
                  <i class="align-middle" data-feather="trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= paginate @teachers %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
