<nav class="sidebar">
  <div class="sidebar-content">
    <a class="sidebar-brand" href="/">
      <i class="align-middle" data-feather="box"></i>
      <span class="align-middle">NextEd</span>
    </a>

    <ul class="sidebar-nav">

      <li class="sidebar-item">
        <a href="#work-sessions" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="list"></i> <span class="align-middle">Séances</span>
        </a>
        <ul id="work-sessions" class="sidebar-dropdown list-unstyled collapse ">
          <li class="sidebar-item"><a class="sidebar-link" href="<%= work_sessions_path %>">Index</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="<%= new_work_session_path %>">Nouvelle séance</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="#students" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Élèves</span>
        </a>
        <ul id="students" class="sidebar-dropdown list-unstyled collapse ">
          <li class="sidebar-item"><a class="sidebar-link" href="<%= students_path %>">Index</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="<%= new_student_path %>">Nouvel élève</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="#">Classes</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="#skills" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Compétences</span>
        </a>
        <ul id="skills" class="sidebar-dropdown list-unstyled collapse ">
          <li class="sidebar-item"><a class="sidebar-link" href="<%= skills_path %>">Compétences</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="<%= domains_path %>">Domaines</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="<%= cultures_path %>">Cultures</a></li>
        </ul>
      </li>

      <%= link_to subjects_path, class: "sidebar-item sidebar-link" do %>
        <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Matières</span>
      <% end %>

      <%= link_to root_path, class: "sidebar-item sidebar-link" do %>
        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profs</span>
      <% end %>

      <li class="sidebar-item">
        <a href="#calender" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Calendrier</span>
        </a>
        <ul id="calender" class="sidebar-dropdown list-unstyled collapse ">
          <li class="sidebar-item"><a class="sidebar-link" href="<%= scholar_years_path %>">Années scolaires</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="#">Séances</a></li>
        </ul>
      </li>

    </ul>

  </div>
</nav>
